.hero-waves {
  display: block;
  /*margin-top: 2vw;  se comento para tener menos espacio 18 de sep probando*/
  width: 100%;
  height: 4.39vw;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

.elegido {
  background-image: linear-gradient(to right,
      #1dd61d,
      #1dd61d,
      #1dd61d);

}


.Cambiando:hover {
  background-image: linear-gradient(to right,
      #1dd61d,
      #1dd61d,
      #1dd61d);
  background-size: 200% 100%;
  background-position: -100%;

  transition: all 0.3s ease-in-out;

}



.CambiaCarrusel:hover {
  background-image: linear-gradient(to right,
      #303066, #484870, #4e4e6d);
  background-size: 200% 100%;
  background-position: -100%;

  transition: all 0.3s ease-in-out;

}


 @media screen and (orientation:landscape) { 
  

@media (min-width: 768px) and (max-width: 991.98px) {
  .whats {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 160px;
    text-align: center;
    padding: 15px 10px;
    background: #1dd61d;
    border-radius: 5px;
  }


  }


@media (min-width: 992px) and (max-width: 1199.98px) {
  .whats {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 160px;
    text-align: center;
    padding: 15px 10px;
    background: #1dd61d;
    border-radius: 5px;
  }
 }


@media (min-width: 1200px) {
  .whats {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 160px;
    text-align: center;
    padding: 15px 10px;
    background: #1dd61d;
    border-radius: 5px;
  }
 }

 }

 @media screen and (orientation:portrait) {
  @media (min-width: 768px) and (max-width: 991.98px) {
    .whats {
      position: fixed;
      bottom: 986px;
      right: 10px;
      width: 160px;
      text-align: center;
      padding: 15px 10px;
      background: #1dd61d;
      border-radius: 5px;
    }
  
  
    }
  
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .whats {
      position: fixed;
      bottom: 10px;
      right: 10px;
      width: 160px;
      text-align: center;
      padding: 15px 10px;
      background: #1dd61d;
      border-radius: 5px;
    }
   }
  
  
  @media (min-width: 1200px) {
    .whats {
      position: fixed;
      bottom: 10px;
      right: 10px;
      width: 160px;
      text-align: center;
      padding: 15px 10px;
      background: #1dd61d;
      border-radius: 5px;
    }
   }

 }



.whats a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}


.u-font-oswald.u-custom-font {
  font-family: Oswald, sans-serif !important;
}

.u-text-palette-4-base,
a.u-button-style.u-text-palette-4-base,
a.u-button-style.u-text-palette-4-base[class*="u-border-"] {
  color: #0c6307 !important;
}

.u-text {
  word-wrap: break-word;
  position: relative;
}

.carousel-control-next-icon {
  background-color: black;
}

.carousel-control-prev-icon {
  background-color: black;
}



.carousel-control-prev2,
.carousel-control-next2 {

  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.diseno {
  border-color: #91dd0b;
  background: linear-gradient(180deg, #fcfdfe 0%, #dcddde 100%);
  /*height: 28vw !important;*/
  font-size: 1vw;
}

.disenoHome {
  border-color: #91dd0b;
  background: linear-gradient(180deg, #fcfdfe 0%, #dcddde 100%);
  /*height: 22vw !important;*/
  font-size: 1vw;
}

.titucard {
  background-color: #003094;
  border-radius: 0 2.3rem 2.3rem 0;
  display: block;
  max-width: 24vw;
  min-width: 50%;
  padding: 1.5vw 1vw 0.25vw 3vw;
  color: white;
  height: 5vw;
  font-size: 1vw;
  position: relative;
  top: -2vw;
}

.titucardHome {
  background-color: #003094;
  border-radius: 0 2.3rem 2.3rem 0;
  display: block;
  max-width: 24vw;
  min-width: 50%;
  padding: 1vw 1vw 0.25vw 1vw;
  color: white;
  height: 5vw;
  font-size: 1vw;
}

.propButon {

  appearance: none;
  background: #91dd0b;
  border-radius: 0.5rem;
  color: #fff;

  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;

  bottom: -0.6vw;
  position: absolute;
  right: 1vw;
  font-size: 1vw;
  padding-left: 6px;
  padding-right: 6px;
}

.row {
  margin-right: calc(-0.0 * var(--bs-gutter-x)) !important;
  margin-left: calc(-0.0 * var(--bs-gutter-x)) !important;
}

.btn2 {
  border: none;
  font-size: inherit;
  cursor: pointer;
  padding: 1.83vw 5.85vw;
  display: inline-block;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  font-weight: 350;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn2:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn2:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


/* Icon separator */


.btn2-sep:before {
  background: rgba(0, 0, 0, 0.15);
}

/* Button 2 */
.btn2-2 {
  background: #2ecc71;
  color: #fff;
}

.btn2-2:hover {
  background: #27ae60;
}

.btn2-2:active {
  background: #27ae60;
  top: 2px;
}

.btn2-2:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 4.39vw;
}

.icon-cart:before {
  content: "\f07a";
}

.iconfooter {
  padding: 2rem;
  align-items: center;
  background-color: #f6f6f7;
}

.widget {

  color: #828282;
}

.img__wrap {
  position: relative;

}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 62, 206, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.diseLogo {

  /*border: 1px solid #303066; si se comenta se puede mejor */
  border-radius: 2.6354319180087846vw;
  padding-top: 2.12299vw;
  padding-right: 2.43299vw;
  padding-bottom: 0.12299vw;
  padding-left: 2.12299vw;
  width: 25vw;
  /*margin-top:  0.7320644216691069vw;
  margin-bottom:  0.7320644216691069vw;*/

}

.diseDiv {
  
  background: linear-gradient(to bottom, white 10%, #303066 90%);
  
  border-top: 3vw solid white;
  border-bottom: 9.125915080527086vw solid #303066;
  border-left: 4.172767203513909vw solid white;
  height: 0;
  
}

.tamañoIcon {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.1vw;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  /*z-index: 1;*/
  bottom: 125%;
  /*left: 50%;*/
  margin-left: -44px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.blink {
  animation: fadeIn 5s  infinite !important;
}
.blink2 {
  animation: fadeIn 2s  infinite !important;
}

.botnmove{
  animation: blinker 5s linear ;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.carousel-control-next-icon {
  background-color: #232170;
}
.carousel-control-prev-icon {
  background-color: #232170;
}

.carousel-control-prev2, .carousel-control-next2{
  opacity: 1;
}

.cookie-message--open {
  display: flex;
}

.cookie-message {
  display: none;
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #91dd0b;
  box-sizing: border-box;
  z-index: 999999;
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.probandoBorde{
  
  padding-right: 12px!important;
  color:black;
  font-size: 1.2vw;
    
}

.contornoPrin{
  border-width: 0.3vw!important;
  border-radius:30px!important;
  padding-left: 12px!important;
  padding-right: 12px!important;
  border-width: 1px;
  border-style: solid;
  border-color: #303066;
  padding-top:2vw;
  padding-bottom:2vw;
}

.tamaline{
  line-height:1.2vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima{
  position: absolute;
  
  left: 10px;
  
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fondo {
  width: 100%;
  height: 280px;
  background-image: url("../img/Fondo_1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}